body{
    background-color: #efefef;

}

.padrl{
    padding-right: 0px;
    padding-left: 0px;
}

.main{
    background-color: white;
    margin: 35px;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.main-personal{
    background-color: white;
    margin: 35px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.btu-pulish{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 40px;
    height: 40px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.proflie .sectiom{
    margin-top: 15px;
}
.div_foot {
    position: absolute;
    height: 50px;
    text-align: center;
    line-height: 50px;
    width: 100%;
}
.a-right{
    border-right:1px solid #dbddd3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.a-bottom{
    border-bottom:1px solid #dbddd3;
    margin-bottom: 10px;
}
.community-menu{
    color: #999;
}
.jumbotron{
    margin: 50px;
}
.xiaoyi-div{
    display: flex;
    justify-content:center;
    align-items:center;
}
.datecss{
    margin-top: 15px;
    color: #999999;
}